<div class="container">
  <h3 class="custom-header">Edit personal data</h3>
  <div class="input-group">
    <label for="fName" class="input-label">First name</label>
    <div class="input-group  mb-3">
      <input class="custom-input" id='fName' [(ngModel)]="personData.firstName" placeholder="First name" />
    </div>
    <label for="lName" class="input-label">Last name</label>
    <div class="input-group mb-3">
      <input class="custom-input" id = 'lName' [(ngModel)]="personData.lastName" placeholder="Last name" />
    </div>
    <label for="email" class="input-label">Email</label>
    <div class="input-group mb-3">
      <input class="custom-input" id ='email' [(ngModel)]="personData.email" placeholder="Email" />
    </div>
    <label for="birthDate" class="input-label">Date of birth</label>
    <div class="input-group mb-3">
      <input class="custom-input" id='birthDate' type="date" [ngModel] ="personData.birthDate | date:'yyyy-MM-dd'" (ngModelChange)="personData.birthDate = $event">
    </div>
  </div>
  <button class="btn btn-primary" id="formButton" (click)="updatePerson()">Update</button>
</div>
